<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiffre</title>
</head>
<body>
<h1> Veuillez deviner le Chiffre secret</h1>
<h5>Aucune Indice</h5>
<br><br><br><br><br>
Entrer votre réponse
<form action="" method="post">
    <input type="text" placholder = "Veuillez entrer votre réponse">
    <input type="button" value=" Submit">
</form>
<br><br><br><br><br>
    MENUE
    <br><br><br><br><br>
    <h3>CHOIX DE LA CATEGORIE</h3>
     <a href="/game/mot"><button class ="btn btn-success"> Devinette </button> </a>
     <a href="/game/chiffre"><button class ="btn btn-success"> Chiffre </button></a>
</body>
</html>