<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue a Jeux devin</title>
</head>
<body>

    <h1>Bienvenue a Jeux devin</h1>
    <br><br><br><br><br><br>
     <a href=" "><button class ="btn btn-success"> Commencer </button></a>
     <a href=" "><button class ="btn btn-success"> Historique </button></a>

    <br><br><br><br><br>

    ENTRER VOTRE PSEUDO
    <form action="" method="post">
        <input type="text" placholder = "Veuillez entrer votre Pseudo">
        <input type="button" value=" Submit">
    </form>
    <br><br><br><br><br>
    MENUE
    <h3>CHOIX DE LA CATEGORIE</h3>
     <a href="/game/mot"><button class ="btn btn-success"> Devinette </button> </a>
     <a href="/game/chiffre"><button class ="btn btn-success"> Chiffre </button></a>
</body>
</html>